<hr>
<div class="text-center">
	<img class="logoAbout" ng-src="images/FRlogo.png">
</div>
<hr>
<h1 class="text-center">Proyecto integrador curso AngularJS <small><a href="http://www.harriague.com/"> Harriague 2016</a></small></h1>
<h3 class="text-center">Instructor: <a href="https://github.com/mauriff"> Ing. Mauricio Ferreyra</a></h3>
<hr>
<h3>
	<strong>Autores</strong>
	<ul>
		<br>
		<li><a href="https://github.com/Agusteen"> Agustín Muñoz Campos</a></li>
		<li><a href="https://github.com/NiicooR"> Nicolas Ramirez</a></li>
	</ul>
</h3>
<hr>

