<div class="row">
  <div class="input-group input-group-lg">
    <div class="input-group-btn">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="category">Categoria <span class="caret"></span> </button>
      <!-- Agregar un ng-repeat de categorias
        <ul class="dropdown-menu">        
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      -->
    </div>
    <input type="text" class="form-control" aria-label="...">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    </span>
  </div>
</div>

<!--Esto debe ir en un ng-repeat de todos los servicios-->
<div class=" col-lg-6">
  <div class="panel panel-default marketing">
    <div class="panel-body">
      Datos del servicio
    </div>
  </div>
</div>







