<div class="row barra" >
  <div class="input-group input-group-lg">
    <select class="form-control" ng-model ="selectedCategory" ng-options= "category.name for category in main.categories">     
      <option>{{category.id}}</option>  
    </select>    
    <span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>
    <input type="text" class="form-control" ng-model="search" placeholder="Buscar...">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    </span>
  </div>
</div>

<div class="row">
  <div ng-repeat="services in main.services | orderBy:'calification':true | filter:search | filter:searchParams| filter: {category: selectedCategory.name}"">
    <div class="col-lg-6">
    
      <div class="panel panel-default ">
        <div class="clearfix servicehover" ng-if="$index % 2 == 0"></div>
        <div class="panel-body">                 
          <h3>{{ services.name }}<small> {{ services.category }}</small></h3>
          <hr>
          <div class="text-center">
            <img ng-src="{{services.picture}}" class="img-rounded imgPane"/>
          </div>
          <h1 class="text-right"><strong>{{ services.calification | number: 1}}</strong></h1>
          <hr>          
          <p>Empresa: {{ services.company }}</p>                     
          <p>Ciudad: {{ services.city }}</p>
          <hr>
          <a ng-href="#/servicedetail"><h5 class="text-center">{{ services.reviews.length }} reviews</h5></a>
        </div>
      </div>
      
    </div>
  </div>
</div>




