<service-description></service-description>

<service-calification></service-calification>

<div class="row">
	<h2>Reviews <small>de usuarios</small></h2>
	<hr>
	
	<review-post></review-post>

	<div ng-repeat="review in services.reviews">
		<blockquote>
			<div class="row">
				<div class="col-md-10">
					<p>{{review.body}}</p>
				</div>	
				<div class="col-md-1">
					<p>{{review.stars | number: 1}}</p>
				</div>
				<div class="col-md-1">
					<emojis></emojis>				
				</div>
				
				<footer>{{review.author}}</footer>
			</div>
		</blockquote>	
	</div>
</div>