<div class="panel panel-default">
	<div class="panel-body">

		<form name="reviewForm" class="form-group css-form" novalidate>

			<textarea class="form-control limit" ng-model="review.body" rows="5" placeholder="Escribe tu opinion del servicio aqui..." ng-required="true"></textarea><br>	

			<div class="form-inline">
				<div class="col-md-10">
					<div class="form-group">						
						<input type="text" ng-model="review.author" class="form-control" id="name" placeholder="Autor" required>
					</div>
					<select class="form-control" ng-options="stars for stars in [1, 2, 3, 4, 5]" ng-model="review.stars" required>
						<option value="" disabled selected>Calificación</option>				
					</select>
				</div>
				<div class="text-right">				
					<input type="submit" class="btn btn-primary" value="Publicar" ng-disabled="reviewForm.$invalid" ng-click="publish()"></input>		
				</div>
			</div>
		</form>

		<div ng-if="review.body">
			<br>
			<hr>
			<h4>Previsualización de tu review</h4>
			<blockquote>

				<div class="col-md-10">
					<p>{{review.body}}</p>
				</div>	
				<div class="col-md-2">
					<p>{{review.stars | number: 1}}</p>
				</div>	

				<footer>{{review.author}}</footer>
			</blockquote>	
		</div>
	</div>
</div>